*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    text-align: center;
    margin: 100px auto;
}
li{
    background-color: antiquewhite;
    flex: content;
    text-align: left;
    border: 2px;
}